body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 1rem;
}

@keyframes pixGrow {
  0% {
    transform: scale(100%);
  }

  100% {
    transform: scale(110%);
  }
}

h1 {
  font-size: 4rem;
}

.top {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(40deg,
      rgba(146, 134, 163, 0.674) 10%,
      rgba(173, 176, 189, 0.2) 60%);
  position: relative;
}

.top-set {
  position: relative;
  padding: 3rem 0;
  margin: 0 4rem;
}

nav {
  display: flex;
  position: fixed;
  padding: 1rem 0;
  top: 0;
  right: 4rem;
  left: 4rem;
  z-index: 99999;
  background-color: hsl(0 13% 99% / .43);
  border-radius: .5rem;
}

@supports (backdrop-filter: blur(3.5rem)) {
  nav {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(3.5rem);
  }
}

nav h1 {
  flex: 1;
  margin: 0;
  color: #D83D00;
  font-weight: 700;
  font-size: 3.3rem;
}

.nav-content {
  flex: 2;
  display: flex;
  align-items: center;
  font-family: Lora;
  /* font !!! */
  width: 100%;
  justify-content: space-between;
}

.nav-list {
  width: 80%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 2.5rem;
}

.nav-list a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav-list a:hover {
  text-decoration: underline;
  color: #D83D00;
}

.nav-link button {
  font-weight: 400;
  border: #D83D00;
  padding: 1.5rem 3rem;
  background-color: #D83D00;
  color: #fff;
  border-radius: .5rem;
  /* position: absolute; */
  right: 0;
  top: .1rem;
}

.top-content {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding-bottom: 4rem;
  align-items: center;
}

.top-content-text {
  width: 38%;
  margin-bottom: 8rem;
}

.top-content-text>h1 {
  font-size: 2.5rem;
}

#hero-pix {
  width: 55%;
  aspect-ratio: 1.3;
}

.top-search {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  position: absolute;
  bottom: 2rem;
  margin: 0;
}

.top-btn {
  width: 4rem;
  text-align: center;
  color: #fff;
  background-color: #D83D00;
  padding: 1rem 2rem;
  border-radius: 1.2rem 1.2rem 0 0;
  margin-right: 1.5rem;
}

.active {
  background-color: #fc6f38;
}

.top-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  padding: 2.5rem;
  border-radius: 0 1.5rem 1.5rem 1.5rem;
}

.top-input>div {
  width: 20%;
  position: relative;
  /* border: 2px solid; */
}

.top-input>div input,
.top-input select,
#top-search {
  width: 20%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: .6rem;
  /* border: 2px solid; */
}

.top-input>div input {
  width: 100%;
}

.icon1,
.icon2 {
  position: absolute;
  top: .88rem;
  right: .8rem;
  /* border: 2px solid; */
}

#top-search {
  background-color: #D83D00;
  border: #D83D00;
  color: #fff;
}

.show-info-onsubmit {
  padding: 3rem 5rem;
  width: 20rem;
  letter-spacing: .1rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: #232121;
  text-align: center;
  position: absolute;
  bottom: 15%;
  left: 10%;
  background-color: #dcdee3;
  background-color: hsla(0, 0%, 100%, 0.907);
  border-radius: 1.5rem;
}

@supports (backdrop-filter: blur(3.5rem)) {
  .show-info-onsubmit {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(3.5rem);
  }
}

.hide-info-onsubmit {
  display: none;
}

.body {
  padding: 4rem;
}

.prptes-rent,
.prptes-sale {
  padding: 5rem 0;
}

.prptes-rent>h1,
.prptes-sale>h1,
.expl-prptes>h1,
.expl-cty>h1 {
  text-align: center;
  font-weight: 700;
  margin: 0;
  margin-bottom: 5rem;
}

.prptes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prptes-card {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.prptes-card:hover {
  animation: pixGrow 700ms ease forwards;
}

.prptes-img {
  position: relative;
  width: 100%;
}

.prptes-img>img {
  width: 100%;
  aspect-ratio: 1.5;
}

.featured {
  position: absolute;
  color: #fff;
  background-color: blue;
  /* ///////// */
  top: 5px;
  left: 15px;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.for-rent,
.for-sale {
  position: absolute;
  color: #fff;
  background-color: #D83D00;
  top: 5px;
  right: 15px;
  padding: .5rem 1rem;
  font-size: 1rem;
}

.img-bk-icon {
  position: absolute;
  /* background-color: #D83D00; */
  color: #fff;
  top: 45%;
  left: 15px;
  padding: .5rem 1rem;
  font-size: 2rem;
}

.img-fr-icon {
  position: absolute;
  /* background-color: #D83D00; */
  color: #fff;
  top: 45%;
  right: 15px;
  padding: .5rem 1rem;
  font-size: 2rem;
}

.prptes-card-detail {
  margin-top: -8px;
  border: 1px solid rgba(84, 80, 80, 0.943);
  background-color: rgba(84, 80, 80, 0.116);
}

.prptes-detail-text {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.prptes-detail-text>p,
.prptes-detail-text>h3 {
  margin: 0;
}

.prptes-detail-text>p {
  margin-top: .2rem;
}

.prptes-stats {
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.stats-item {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: 0;
  padding: 0;
  height: 2rem;
}

hr {
  margin: 1px;
  width: 100%;
}

.prptes-card-foot {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-weight: 600;
  padding: 0 1.5rem;
}

.prptes-foot-icn {
  display: flex;
  width: 40%;
  justify-content: space-around;
}

.proptes-card-scrol {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}

.card-scrol {
  border: 2px solid rgba(84, 80, 80, 0.116);
  padding: .7rem;
  border-radius: 10rem;
  background-color: rgba(84, 80, 80, 0.200);
}

.orange {
  background-color: #D83D00;
}

.explore {
  background-color: #C6CFFF;
  padding: 5rem 4rem 8rem
}

.expl-prptes {
  position: relative;
}

.expl-sd-logo {
  font-weight: 700;
  font-size: 7rem;
  color: rgba(216, 61, 0, 0.2);
  transform: rotate(-90deg);
  margin: 0;
  position: absolute;
  left: -25rem;
  top: 50%;
  letter-spacing: .7rem;
}

.expl-sd-logo p {
  margin: 0;
}

.expl-cards {
  margin-left: 8rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.expl-items {
  position: relative;
}

.expl-text {
  align-self: flex-end;
}

.expl-hr {
  width: 60%;
  border-bottom: 2px solid;
  margin-top: 3rem;
}

.expl-img-cntr {
  position: relative;
}

.expl-img {
  width: 100%;
  height: 100%;
}

.grow-pix:hover {
  animation: pixGrow 700ms ease forwards;
}

.expl-ro2 {
  grid-column: 2;
  grid-row: 1/3;
}

.s-prptes,
.h-prptes {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  left: 4rem;
  /* margin: 2rem; */
  /* border: 2px solid; */
}

.s-prptes,
.h-prptes {
  position: absolute;
  font-size: 1.1rem;
  z-index: 1000;
  left: 1.5rem;
  font-weight: 700;
  letter-spacing: .08rem;
}

.s-prptes {
  /* color: #fff; */
  top: 1.5rem;
}

.h-prptes {
  /* color: #fff; */
  top: 3rem;
}

.i-prptes {
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: 700;
  bottom: 2rem;
  right: 1.5rem;
  /* background-color: rgb(51, 48, 44); */
  padding: .5rem;
  font-size: 3rem;
}

.expl-hr2 {
  margin: 6rem 0 3rem;
  padding: 2px 0;
  color: black;
}

.expl-cty-cards {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.expl-col2 {
  grid-column: 1/3;
  grid-row: 1;
}

.expl-col2-img {
  aspect-ratio: 2;
}

.why-us {
  background: url(./img/bg/whybg.png);
  background-size: cover;
  margin: 0;
}

.why-brwn {
  display: flex;
  gap: 5%;
  margin: 0;
  padding: 4rem;
  align-items: center;
  background: rgba(58, 25, 9, 0.823)
}

.why-texts {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex: 1;
  color: #fff;
}

.why-t1>hr {
  width: 10rem;
}

.why-t2>hr,
.why-t3>hr {
  width: 9rem;
}

.why-t2 {
  margin-top: 2rem;
  font-weight: 600;
}

.why-t3 {
  margin-left: 9rem;
  font-weight: 600;
}

.why-form {
  flex: 1;
  padding: 1rem 2.5rem;
  background-color: #fff;
  z-index: 20;
}

.why-inpt {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.why-inpt>div {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.why-pd {
  padding: .5rem;
}

.why-inqry,
.why-eml {
  width: 100%;
}

.why-fn,
.why-ln,
.why-lctn,
.why-pty {
  width: 45%;
}

.why-msg {
  width: 100%;
}

#message {
  height: 10rem;
}

#submit {
  width: 100%;
  padding: 1rem;
  background-color: #D83D00;
  border: none;
  color: #fff;
  font-size: 1.5rem;
}

.testimony {
  background-color: #C6CFFF;
  position: relative;
  padding-bottom: 10rem;
}

.tsmny-qute-up,
.tsmny-qute-dn {
  font-size: 48rem;
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #e788635f;
  z-index: 1;
}

.tsmny-qute-up {
  position: absolute;
  top: -35rem;
  right: 1rem;
  transform: rotate(180deg);
}

.tsmny-qute-dn {
  position: absolute;
  left: 1rem;
  bottom: -34.2rem;
}

.tsmny {
  padding: 4rem;
}

.tsmny>h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #fff;
  box-sizing: border-box;
  width: 30%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.card-p>p {
  margin: 5px 0;
}

.card-user {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

.card-user>img {
  width: 30%;
}

.card-user-dtil {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card-user-dtil>p {
  margin: 0;
}

.rating {
  display: flex;
  gap: .5rem;
}

.checked {
  color: #d87f02;
}

.agnt {
  background-color: #fff;
  padding: 4rem;
  padding-bottom: 10rem;
}

.agnt>h1 {
  text-align: center;
  margin: 5rem;
}

.agnt-cards {
  display: flex;
  justify-content: space-between;
}

.agnt-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  position: relative;
}

.agnt-card>img {
  border: 2rem solid #fff;
  box-shadow: 2px 2px 10px 2px #C6CFFF;
}

.agnt-txt {
  width: 74%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: #fff;
  padding: 1.5rem 0;
  position: absolute;
  bottom: -3rem;
  left: 13%;
  box-shadow: 1px 1px 10px 2px #C6CFFF;
}

.agnt-txt>h3,
.agnt-txt>p {
  margin: 0;
  text-align: center;
}

.nl {
  background: url(./img/bg/newslatter.png);
  background-size: cover;
  padding: 10rem 4rem;
  color: #fff;
}

.nl-form {
  position: relative;
  width: 70%;
  margin-top: 4rem;
}

.nl-inp-txt {
  padding: 1.8rem .5rem;
  text-indent: 2rem;
  border-radius: 1rem;
  font-size: 2rem;
  width: 100%;
}

.nl-inp-sub {
  position: absolute;
  right: -.5rem;
  top: .45rem;
  padding: 1.6rem;
  min-width: 10rem;
  width: 25%;
  border-radius: 1rem;
  background-color: #D83D00;
  color: #fff;
  font-size: 1.5rem;
}

footer {
  background-color: #D83D00;
  color: #fff;
  position: relative;
}

.ft-navs {
  display: flex;
  padding: 4rem;
  margin-left: 12rem;
  justify-content: space-around;
}

.ft-expl div,
.ft-cntct div,
.ft-lnk div {
  display: flex;
  align-items: baseline;
  gap: .5rem;
}

.ft-navs p,
.ft-navs h2 {
  cursor: pointer;
}

.dev-ft {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8rem 4rem;
  padding-bottom: 4rem;
}

.dev-ft>p {
  font-size: 4rem;
  margin: 0;
}

.hr {
  width: 18rem;
  position: absolute;
}

.hr-1,
.hr-2,
.hr-3 {
  transform: rotate(-90deg);
}

.hr-4 {
  top: 8rem;
}

.hr-5 {
  top: 13rem;
}

.hr-6 {
  top: 18rem;
}

.hr-1 {
  top: 22rem;
  left: -8rem;
}

.hr-2 {
  top: 17rem;
  left: -2rem;
}

.hr-3 {
  top: 12rem;
  left: 4rem;
}

/* Responsive Styles */
@media (max-width: 770px) {
  .top-set {
    margin: 0 1rem;
    padding: 2rem 0;
  }

  nav {
    left: 1rem;
    right: 1rem;
    padding: 0.5rem;
  }

  nav h1 {
    font-size: 2rem;
  }

  .nav-content {
    display: none;
    /* Hide nav links on mobile for now, or we could add a burger menu */
  }

  .top-content {
    flex-direction: column;
    text-align: center;
    margin-top: 5rem;
  }

  .top-content-text {
    width: 100%;
    margin-bottom: 2rem;
  }

  #hero-pix {
    width: 100%;
  }

  .top-search {
    width: 100%;
    position: static;
    margin-top: 2rem;
  }

  .top-input {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .top-input>div,
  .top-input select,
  #top-search {
    width: 100% !important;
  }

  .body {
    padding: 1rem;
  }

  .prptes-card {
    width: 100%;
    margin-bottom: 2rem;
  }

  .expl-cards,
  .expl-cty-cards,
  .cards,
  .agnt-cards {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }

  .card,
  .agnt-card {
    width: 100%;
    margin-bottom: 2rem;
  }

  .expl-sd-logo {
    display: none;
  }

  .expl-cards {
    margin-left: 0;
  }

  .ft-navs {
    flex-direction: column;
    margin-left: 0;
    gap: 2rem;
  }

  .dev-ft {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .hr {
    display: none;
  }
}

.pointer {
  cursor: pointer;
}

.show {
  display: block;
  margin-top: .8rem;
}

.red {
  color: red;
}

.hide {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ─── Nav Login Button ─────────────────── */
.nav-link-btn {
  font-weight: 500;
  border: 2px solid #D83D00;
  padding: .75rem 1.8rem;
  background-color: #D83D00;
  color: #fff;
  border-radius: .5rem;
  font-size: .95rem;
  transition: background-color 200ms, color 200ms;
  white-space: nowrap;
}

.nav-link-btn:hover {
  background-color: transparent;
  color: #D83D00;
}

/* ─── Property icon buttons ─────────────── */
.prop-icon {
  font-size: 1.2rem;
  transition: color 200ms, transform 150ms;
}

.prop-icon:hover {
  color: #D83D00;
  transform: scale(1.2);
}

.icon-active {
  color: #D83D00;
}

/* ─── Compare bar ───────────────────────── */
.compare-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #1a1a2e;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .9rem 2rem;
  flex-wrap: wrap;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, .3);
}

.compare-bar-title {
  font-weight: 700;
  color: #fc6f38;
  white-space: nowrap;
}

.compare-chip {
  display: flex;
  align-items: center;
  gap: .5rem;
  background: rgba(255, 255, 255, .12);
  border-radius: 2rem;
  padding: .35rem .9rem;
  font-size: .9rem;
}

.compare-chip-remove {
  background: none;
  border: none;
  color: #fff;
  font-size: .85rem;
  padding: 0;
  line-height: 1;
}

.compare-clear {
  margin-left: auto;
  background: none;
  border: 1px solid rgba(255, 255, 255, .3);
  color: #fff;
  padding: .35rem 1rem;
  border-radius: 2rem;
  font-size: .85rem;
  transition: background 200ms;
}

.compare-clear:hover {
  background: rgba(255, 255, 255, .15);
}

/* ─── Modal overlay ─────────────────────── */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .55);
  backdrop-filter: blur(4px);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  animation: fadeIn 200ms ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.modal-card {
  background: #fff;
  border-radius: 1.2rem;
  max-width: 540px;
  width: 100%;
  overflow: hidden;
  position: relative;
  animation: slideUp 250ms ease;
  box-shadow: 0 25px 60px rgba(0, 0, 0, .3);
}

@keyframes slideUp {
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-close {
  position: absolute;
  top: .8rem;
  right: .8rem;
  background: rgba(0, 0, 0, .15);
  border: none;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 200ms;
}

.modal-close:hover {
  background: rgba(0, 0, 0, .35);
}

/* Property detail modal */
.modal-img {
  width: 100%;
  aspect-ratio: 1.8;
  object-fit: cover;
}

.modal-body {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .8rem;
}

.modal-badges {
  display: flex;
  gap: .5rem;
}

.modal-badge {
  padding: .3rem .8rem;
  border-radius: 2rem;
  font-size: .8rem;
  font-weight: 600;
  color: #fff;
}

.badge-featured {
  background: #2563eb;
}

.badge-rent,
.badge-sale {
  background: #D83D00;
}

.modal-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}

.modal-location {
  color: #666;
  margin: 0;
}

.modal-stats {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: .8rem 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.modal-stat-item {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: #444;
  font-size: .95rem;
}

.modal-stat-item i {
  color: #D83D00;
}

.modal-price {
  font-size: 1.5rem;
  font-weight: 700;
  color: #D83D00;
}

.modal-actions {
  display: flex;
  gap: 1rem;
  margin-top: .5rem;
}

.modal-btn {
  flex: 1;
  padding: .85rem;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  transition: opacity 200ms;
}

.modal-btn:hover {
  opacity: .85;
}

.modal-btn-primary {
  background: #D83D00;
  color: #fff;
}

.modal-btn-secondary {
  background: #f0f0f0;
  color: #333;
}

/* ─── Auth Modal ────────────────────────── */
.auth-modal {
  max-width: 420px;
  padding: 2rem;
}

.auth-modal h2 {
  text-align: center;
  margin-bottom: 1.2rem;
  color: #D83D00;
}

.auth-tabs {
  display: flex;
  border: 1px solid #e0e0e0;
  border-radius: .5rem;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.auth-tab {
  flex: 1;
  padding: .7rem;
  background: none;
  border: none;
  font-size: .95rem;
  font-weight: 600;
  color: #666;
  transition: background 200ms, color 200ms;
}

.auth-tab-active {
  background: #D83D00;
  color: #fff;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-field {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}

.auth-field label {
  font-size: .85rem;
  font-weight: 600;
  color: #555;
}

.auth-field input {
  padding: .75rem 1rem;
  border: 1.5px solid #ddd;
  border-radius: .5rem;
  font-size: .95rem;
  transition: border-color 200ms;
}

.auth-field input:focus {
  outline: none;
  border-color: #D83D00;
}

.auth-message {
  background: #fff8f0;
  border-left: 3px solid #D83D00;
  padding: .6rem .8rem;
  font-size: .88rem;
  border-radius: .3rem;
  color: #555;
}

/* ─── Newsletter feedback ───────────────── */
.nl-feedback {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.nl-success {
  color: #22c55e;
}

.nl-error {
  color: #ef4444;
}

/* ─── No results ────────────────────────── */
.no-results {
  text-align: center;
  width: 100%;
  padding: 3rem;
  color: #888;
  font-size: 1.1rem;
}